---
console.log('javascript');
console.log('creating header');
---

<a class="text-white">
    <slot name="before"></slot>
    <slot>
        Sed ut perspiciati
    </slot>
    <slot name="after"></slot>
</a>