---
import HeaderButton from "./HeaderButton.astro";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
<div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
        SpaceX launches
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        All the information about ScapceX launches 🚀
    </p>
</div>

<nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">    
    <HeaderButton class="text-white" href="/">
        <svg 
        slot="before"
        xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
          </svg>
        Últimos lanzamientos
    </HeaderButton>    
    <HeaderButton class="text-white" href="/about">
        <svg 
        slot="before"
        xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
          </svg>
        Sobre el proyecto</HeaderButton>    
    <HeaderButton class="text-white" href="/oldest">
        <svg 
        slot="before"
        xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2" />
          </svg>
        Los más viejos</HeaderButton>    
</nav>
</header>
